// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1d1d1f;
  font-size: 12px;
  font-family: 'Arial';
}

.movies-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  border: 1px solid red;
}

.movies-sidebar {
  display: flex;
  flex-flow: column nowrap;
  width: 170px;
  min-height: 100vh;
  box-shadow: 0px 1px 2px black, 0px 2px 2px #1d1d1f;
  padding: 20px 15px;
}

.movies-search-title {
  font-weight: bold;
}

.movie-search-input {
  margin-top: 8px;
}

.movies-generes {
  padding: 15px 0;
}

.movies-generes-title {
  padding-bottom: 5px;
}

.movies-grid {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  width: 100%;
  max-width: calc(100vw - 150px);
  padding: 10px;
  gap: 15px;
  align-content: flex-start;
}

.movie-card {
  position: relative;
  width: 135px;
  height: -webkit-fit-content;
  transition: transform .3s ease-in-out;

  .movie-card-details {
    display: none;
  }

  &:hover {
    z-index: 2;
    cursor: pointer;
    transform: scale(1.5);

    & ~ .movie-card {
      transform: translateX(25%);
    }
  }
}

.movie-card-details {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: #1d1d1f;

  &.details {
    display: block;
  }
}

.movie-title {
  padding-top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.movie-year {
  font-size: 10px;
}

.movie-thumbnail {
  width: 135px;
  height: 200px;
  box-shadow: 3px 3px 6px 0 black;
}

.movie-genre-item {
  line-height: 2em;

  &:hover {
    color: gold;
    cursor: pointer;
    background-color: #2E2F30;
  }
}