// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1d1d1f;
  font-size: 12px;
  font-family: 'Raleway';
}

.movies-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  border: 1px solid red;
}

.movies-sidebar {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
  min-height: 100vh;
  box-shadow: 0px 1px 2px black, 0px 2px 2px #1d1d1f;
  padding: 10px 5px;
}

.movies-search-title {
  font-weight: bold;
}

.movie-search-input {
  margin-top: 8px;
}

.movies-grid {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  width: 100%;
  max-width: calc(100vw - 150px);
  padding: 10px;
  gap: 10px;
}

.movie-card {
  width: 135px;
  height: -webkit-fit-content;
}

.movie-title {
  padding-top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.movie-year {
  //padding-top: 5px;
  font-size: 10px;
}

.movie-thumbnail {
  width: 135px;
  height: 200px;
  box-shadow: 3px 3px 6px 0 black;
}
